# Ignore build output directory
/perceptual_array
.Xil/*
hls
reports

/.cache
/ip_repo
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata
*.hlscompile_summary
*.hlsrun_csim_summary
*.hlsrun_package_summary
*.zip
